@charset "utf-8";
.container-fluid .container h1 
{
	position: relative;
	bottom: 340px;
	font: italic
}
.container-fluid .container h3 
{
	position: relative;
	bottom: 320px;
	font-size: 23px;
	color:darkslategray;
	height: 20px;
	width: 480px;
   }

.carousel-item .carousel-caption p 
{
	color: darkred;
}

.container-fluid .container h2
{
	color: orangered;
}
